@import "./menu.css";
@import "./logo.css";
@import "./footer.css";
@import "./lista-Itens.css";
@import "./titulo-lista.css";
@import "./modal.css";
@import "./OpenAndClose.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}




.main {
    max-width: 1200px;
    margin: 0 auto;
}





